
.profile-icon img {
    width: 32px;
    height: 32px;
    vertical-align: middle;
    margin-right: 8px;
}

.education-icon img {
    width: 28px;
    height: 28px;
    vertical-align: middle;
    margin-right: 8px;
}

.work-experience-icon img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-right: 8px;
}

.tech-skills-icon img {
    width: 28px;
    height: 28px;
    vertical-align: middle;
    margin-right: 8px;
}

.achievement-icon img {
    width: 26px;
    height: 26px;
    vertical-align: middle;
    margin-right: 8px;
}
